# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# Virtual env
.venv/
venv/
env/

# Env vars
.env
*.env

# Cache / logs
*.log
.cache/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/

# LangChain / HuggingFace
langchain.db
hub/